{% extends "template.html" %}
{% block title %} Add Product {% endblock %}
{% block main %}     
<div class="container">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-3">
                <h1 class="mt-5">Add Product</h1>
                <form action="/products" method="POST" class="mt-4">
                    <div class="mb-3">
                        <label for="product_id" class="form-label">Product ID:</label>
                        <input type="text" id="product_id" name="product_id" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
