{% extends "template.html" %}
{% block title %} Add location {% endblock %}
{% block main %}     <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-3">
            <h1 class="mt-5">Add Location</h1>
            <form action="/locations" method="POST" class="mt-4">
                <div class="mb-3">
                    <label for="location_id" class="form-label">Location ID:</label>
                    <input type="text" id="location_id" name="location_id" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}