{% extends "template.html" %}
{% block title %} Home {% endblock %}
{% block main %}     
<div class="container">
    <h1>Welcome to the Product Management System</h1>
    <nav class="navbar bg-primary" data-bs-theme="dark">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/product-balances-report">Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/locations">Add Location</a>
            </li>
        </ul>
    </nav>
    <hr>
    <h1>Locations:</h1>
    <div class="col-1">
        <ul class="list-group">
            {% for location in locations %}
            <li class="list-group-item">
                <a href="/{{ location.location_id }}">{{ location.location_id }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}