{% extends "template.html" %}
{% block title %} Location {% endblock %}
{% block main %}     
<div class="container">
    <h1 class="mt-4">Create Product Movement</h1>
    <div class="col-2">
        
        <form action="/product-movements" method="POST">
            <input type="hidden" name="from_location" value="{{current_location.location_id}}">
            <div class="form-group">
                <label for="to_location">To Location:</label>
                <select class="form-control" id="to_location" name="to_location" required>
                    {% for location in locations %}
                    {% if location.location_id != current_location.location_id %}
                    <option value="{{ location.location_id }}">{{ location.location_id }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="product_id">Product ID:</label>
                <select class="form-control" id="product_id" name="product_id" required>
                    {% for product in products %}
                    <option value="{{ product.product_id }}">{{ product.product_id }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="qty">Quantity:</label>
                <input type="number" class="form-control" id="qty" name="qty" required>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Create</button>
        </form>
    </div>
</div>
{% endblock %}